/* Reset default styles */
html,
body,
ul {
  margin: 0;
  padding: 0;
  color: aliceblue;
  cursor: default;
}

/* Global styles */
body {
  font-family: "Fira Code";
  background-color: #1d2026;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensure the body takes up the full viewport height */
  background-image: radial-gradient(circle at top right, rgb(255, 255, 255), transparent), radial-gradient(circle at 20% 80%, rgb(238, 236, 236), transparent);
}

/* Home section styles */
.name-section {
  text-align: center;
  padding: 7px 0;
  flex-grow: 1;
  /* Fill the remaining vertical space */
}

.name-section h1 {
  font-size: 66px;
  margin-bottom: 0;
  padding-top: 10%;
  color: #000000;
}

#status {
  text-align: center;
  margin-top: 0;
  color: #464646;
}

#status h2 {
  font-size: 40px;
}

.social-links {
  text-align: center;
  z-index: 1;
}

/* Social links hover effect */
.social-links a {
  display: inline-block;
  margin-right: 10px;
  cursor: auto;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  z-index: 1;
  /* Set a default z-index */
}

.social-links a img.social-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* Increase z-index on hover */
.social-links a:hover {
  z-index: 2;
  /* Set a higher z-index on hover */
}

a#Anim {
  transition: all 0.53s ease-in-out;
}

a#Anim:hover {
  transform: scale(1.25);
}

/* Journey section styles 
.journey {
  color: #464646;
}

.journey h2 {
  padding: 50px 0;
  margin-left: 47%;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3);
  text-decoration-style: dotted;
}

#about {
  text-align: center;
  text-decoration-color: rgba(211, 206, 206, 0.3);
}

*/

/* Footer styles */
footer {
  height: 60px;
  color: #464646;
  text-align: center;
  padding-top: 2rem;
  margin-top: auto;
  /* Push the footer to the bottom */
  position: relative;
}

/* Canvas */
canvas {
  position: fixed;
  bottom: 2vmin;
  right: 2vmin;
  width: auto;
  height: auto;
  z-index: 0;
}