/* Reset default styles */
html,
body,
ul {
  margin: 0;
  padding: 0;
  color: aliceblue;
  cursor: default;
}

/* Global styles */
body {
  font-family: "Fira Code";
  background-color: #1d2026;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2rem;
  background-image:
    radial-gradient(circle at top right, rgb(255, 255, 255), transparent),
    radial-gradient(circle at 20% 80%, rgb(238, 236, 236), transparent);
}

/* Home section styles */
.name-section {
  text-align: center;
  padding: 7px 0;
}

.name-section h1 {
  font-size: 66px;
  margin-bottom: 0;
  padding-top: 10%;
  color: #000000;
}

#status {
  text-align: center;
  margin-top: 0;
  color: #464646;
}

#status h2 {
  font-size: 40px;
}

.social-links {
  position: relative;
  text-align: center;
  margin-top: 10px;
  z-index: 1;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  cursor: auto;
  text-decoration: none;
  color: #ffffff;
}

.social-links a img.social-icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

a#Anim {
  transition: all 0.5s ease-in-out;

}

a#Anim:hover {
  transform: scale(1.2);
}


/* Journey section styles */
.journey {
  color: #464646;
}

.journey h2 {
  padding: 50px 0;
  margin-left: 47%;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3);
  text-decoration-style: dotted;
}

#about {
  text-align: center;
  text-decoration-color: rgba(211, 206, 206, 0.3);
}

/* Footer styles */
footer {
  bottom: 0;
  height: 60px;
  color: #464646;
  text-align: center;
  position: inherit;
  padding-top: 3rem;
  margin-top: 14%;
}

/* Canvas */
canvas {
  position: fixed;
  bottom: 2vmin;
  right: 2vmin;
  width: auto;
  height: auto;
  z-index: 0;
}